.auth-left {
  background: linear-gradient(135deg, #0d1b2a, #1b263b);
  align-items: center;
  justify-content: center;
}

.brand-wrapper {
  text-align: center;
  max-width: 400px;
}

.auth-right {
  background-color: #f8f9fa;
}

.auth-card {
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 40px;
  border-radius: 12px;
}
